docs/workflows/captura_telegram_n8n.json
{
  "name": "Captura Telegram → Oráculo Inbox",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_AQUI",
          "name": "Telegram — Oráculo Bot"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message.text ? ($json.message.text.startsWith('http') ? 'url' : 'texto') : ($json.message.photo ? 'foto' : ($json.message.voice ? 'audio' : 'texto')) }}",
        "rules": {
          "rules": [
            { "value2": "url" },
            { "value2": "texto" },
            { "value2": "foto" },
            { "value2": "audio" }
          ]
        }
      },
      "name": "Classifica Tipo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.message.text }}",
        "options": {
          "response": {
            "response": { "responseFormat": "text" }
          }
        }
      },
      "name": "Busca Título da URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst data = `${now.getFullYear()}-${pad(now.getMonth()+1)}-${pad(now.getDate())}`;\nconst hora = `${pad(now.getHours())}:${pad(now.getMinutes())}`;\nconst horaSlug = hora.replace(':', '');\n\nconst msg = $('Telegram Trigger').item.json.message;\nconst tipo = $('Classifica Tipo').item.json.tipo || 'texto';\n\nlet titulo = '';\nlet conteudo = '';\nlet url = '';\n\nif (tipo === 'url') {\n  url = msg.text;\n  // Extrai title tag do HTML se disponível\n  const html = $input.item.json || '';\n  const titleMatch = typeof html === 'string' ? html.match(/<title[^>]*>([^<]+)<\\/title>/i) : null;\n  titulo = titleMatch ? titleMatch[1].trim().substring(0, 80) : 'Link capturado';\n  titulo = titulo.replace(/[^a-zA-Z0-9À-ÿ\\s\\-]/g, '').trim();\n} else if (tipo === 'texto') {\n  const texto = msg.text || msg.caption || '';\n  titulo = texto.substring(0, 60).replace(/[^a-zA-Z0-9À-ÿ\\s\\-]/g, '').trim();\n  conteudo = texto;\n} else if (tipo === 'foto') {\n  titulo = msg.caption ? msg.caption.substring(0, 60) : 'Foto capturada';\n  conteudo = msg.caption || '';\n} else if (tipo === 'audio') {\n  titulo = 'Audio capturado';\n  conteudo = '[Áudio — transcrever na próxima sessão]';\n}\n\nconst slugTitulo = titulo.toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9\\s-]/g, '')\n  .trim().replace(/\\s+/g, '-').substring(0, 50);\n\nconst nomeArquivo = `${data}-${horaSlug}-${slugTitulo}.md`;\n\nconst frontmatter = [\n  '---',\n  `tipo: ${tipo}`,\n  `fonte: telegram`,\n  `data: ${data}`,\n  `hora: \"${hora}\"`,\n  url ? `url: \"${url}\"` : null,\n  `titulo: \"${titulo}\"`,\n  `tags: [captura, ${tipo}]`,\n  `processado: false`,\n  '---'\n].filter(Boolean).join('\\n');\n\nconst corpo = tipo === 'url'\n  ? `\\n# ${titulo}\\n\\nCapturado via Telegram em ${data} ${hora}\\n\\n**URL:** ${url}\\n`\n  : `\\n# ${titulo}\\n\\nCapturado via Telegram em ${data} ${hora}\\n\\n${conteudo}\\n`;\n\nconst markdownCompleto = frontmatter + corpo;\nconst caminhoArquivo = `cerebro/CEREBRO-ORACULO/00-INBOX/${nomeArquivo}`;\n\nreturn [{\n  json: {\n    nomeArquivo,\n    caminhoArquivo,\n    markdownCompleto,\n    titulo,\n    tipo,\n    data,\n    hora,\n    base64Content: Buffer.from(markdownCompleto).toString('base64')\n  }\n}];"
      },
      "name": "Formata Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "firmaabacaxi-droid",
        "repository": "ORACULO-DA-FIRMA",
        "filePath": "={{ $json.caminhoArquivo }}",
        "fileContent": "={{ $json.base64Content }}",
        "commitMessage": "=inbox: {{ $json.tipo }} — {{ $json.titulo.substring(0, 50) }}",
        "additionalParameters": {}
      },
      "name": "Salva no GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "githubApi": {
          "id": "CONFIGURE_AQUI",
          "name": "GitHub — Oráculo Firma"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ Salvo em 00-INBOX ({{ $('Formata Markdown').item.json.tipo }}): *{{ $('Formata Markdown').item.json.titulo }}*\n\n📁 `{{ $('Formata Markdown').item.json.nomeArquivo }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Confirma no Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1340, 300],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_AQUI",
          "name": "Telegram — Oráculo Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ Erro ao salvar: {{ $json.error.message }}\n\nTente novamente ou avise o Oráculo na próxima sessão.",
        "additionalFields": {}
      },
      "name": "Erro — Avisa no Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1340, 480],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_AQUI",
          "name": "Telegram — Oráculo Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Classifica Tipo", "type": "main", "index": 0 }]]
    },
    "Classifica Tipo": {
      "main": [
        [{ "node": "Busca Título da URL", "type": "main", "index": 0 }],
        [{ "node": "Formata Markdown", "type": "main", "index": 0 }],
        [{ "node": "Formata Markdown", "type": "main", "index": 0 }],
        [{ "node": "Formata Markdown", "type": "main", "index": 0 }]
      ]
    },
    "Busca Título da URL": {
      "main": [[{ "node": "Formata Markdown", "type": "main", "index": 0 }]]
    },
    "Formata Markdown": {
      "main": [[{ "node": "Salva no GitHub", "type": "main", "index": 0 }]]
    },
    "Salva no GitHub": {
      "main": [[{ "node": "Confirma no Telegram", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Erro — Avisa no Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "oraculo-firma-abacaxi"
  },
  "tags": ["captura", "telegram", "inbox", "oraculo"]
}
