automacoes/n8n-all-workflows.json
{"data":[{"updatedAt":"2026-02-09T01:06:48.569Z","createdAt":"2026-02-09T00:29:38.932Z","id":"2iyeNs50t5cFOBJo","name":"Antigravity Notion Diagnostic","active":false,"isArchived":false,"nodes":[{"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}},"id":"notion-id-456","name":"Notion Diagnostic","parameters":{"databaseId":{"__rl":true,"mode":"id","value":"30089da3-9902-80d3-a0a4-f186831e99b9"},"limit":5,"operation":"getAll","resource":"databasePage","returnAll":false},"position":[300,100],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"id":"chat-id-131415","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[100,100],"parameters":{}}],"connections":{"Chat Trigger":{"main":[[{"node":"Notion Diagnostic","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"9740eb88-0032-4ea9-b443-be431a716111","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-09T00:29:38.934Z","createdAt":"2026-02-09T00:29:38.934Z","role":"workflow:owner","workflowId":"2iyeNs50t5cFOBJo","projectId":"Qe4e5DHjGeBeWYKf"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-18T23:44:05.011Z","createdAt":"2026-02-18T23:41:34.107Z","id":"6VA8rLg6p13zXTKe","name":"Debug Get GTD Schema","active":true,"isArchived":false,"nodes":[{"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}},"id":"notion-get-db","name":"Get GTD Schema","parameters":{"databaseId":{"__rl":true,"mode":"id","value":"30b89da3-9902-80d9-b562-da97507e443f"},"operation":"get","resource":"database"},"position":[300,100],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"id":"e761b233-9068-4a2c-be43-d3663389f75f","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[100,250],"parameters":{}},{"id":"a9c15a4e-4b6d-47c8-8df4-2fea0125c0c1","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[100,50],"parameters":{}}],"connections":{"Manual Trigger":{"main":[[{"node":"Get GTD Schema","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"Get GTD Schema","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"a525b9e0-76a1-4aaf-b282-ef7e06fa1a08","activeVersionId":"a525b9e0-76a1-4aaf-b282-ef7e06fa1a08","triggerCount":1,"shared":[{"updatedAt":"2026-02-18T23:41:34.109Z","createdAt":"2026-02-18T23:41:34.109Z","role":"workflow:owner","workflowId":"6VA8rLg6p13zXTKe","projectId":"Qe4e5DHjGeBeWYKf"}],"activeVersion":{"updatedAt":"2026-02-18T23:44:05.011Z","createdAt":"2026-02-18T23:44:05.011Z","versionId":"a525b9e0-76a1-4aaf-b282-ef7e06fa1a08","workflowId":"6VA8rLg6p13zXTKe","nodes":[{"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}},"id":"notion-get-db","name":"Get GTD Schema","parameters":{"databaseId":{"__rl":true,"mode":"id","value":"30b89da3-9902-80d9-b562-da97507e443f"},"operation":"get","resource":"database"},"position":[300,100],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"id":"e761b233-9068-4a2c-be43-d3663389f75f","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[100,250],"parameters":{}},{"id":"a9c15a4e-4b6d-47c8-8df4-2fea0125c0c1","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[100,50],"parameters":{}}],"connections":{"Manual Trigger":{"main":[[{"node":"Get GTD Schema","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"Get GTD Schema","type":"main","index":0}]]}},"authors":"FIRMA ABACAXI","name":null,"description":null,"autosaved":false},"tags":[]},{"updatedAt":"2026-02-09T00:55:33.162Z","createdAt":"2026-02-08T22:30:40.266Z","id":"HoFrf8iWDXTlS5lV","name":"Telegram-Notion Project Organizer","active":false,"isArchived":false,"nodes":[{"id":"2f99b758-ccf4-48c0-a348-4e910300d092","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-600,0],"parameters":{"additionalFields":{},"updates":["message"]},"credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"id":"71d74aea-6bbc-4f10-b452-c0986ec7a402","name":"Switch Input","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-400,0],"parameters":{"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.message.text }}","operator":{"operation":"exists","singleValue":true,"type":"string"},"rightValue":""}]},"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"outputKey":"text","renameOutput":true},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","operator":{"operation":"exists","singleValue":true,"type":"string"},"rightValue":""}]},"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"outputKey":"voice","renameOutput":true}]}}},{"id":"8b503d78-8d56-465b-9984-951abeff22e9","name":"Edit Fields Set","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,-100],"parameters":{"assignments":{"assignments":[{"id":"id1","name":"text","type":"string","value":"={{ $json.message.text }}"}]}}},{"id":"08a4591f-bd6d-4fff-a191-1c7a56104d57","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-200,100],"parameters":{"fileId":"={{ $json.message.voice.file_id }}","operation":"get","resource":"file"},"credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"id":"6e3d0f19-3cc1-4a13-808e-fc746bd94b53","name":"Transcribe File","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[0,100],"parameters":{"operation":"transcribe","resource":"audio"},"credentials":{"openAiApi":{"id":"5RUe0e1pQwGjpDA2","name":"OpenAi account"}}},{"id":"b4c29d67-0659-4e8c-b66b-b313fa35b6fd","name":"AI Project Organizer","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[300,0],"parameters":{"options":{"systemMessage":"You are \"ORGANIZABOT\". Sync projects between Telegram and Notion.\nLOGIC:\n1. Get Projects first.\n2. Find next ID (#01, #02...).\n3. Create/Update project.\nConfirm in PT."},"promptType":"define","text":"={{ $json.text || $json.message.text }}"}},{"id":"4cacc310-28ae-4190-b7bb-95126e693714","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[300,200],"parameters":{"model":"gpt-4o-2024-05-13"},"credentials":{"openAiApi":{"id":"5RUe0e1pQwGjpDA2","name":"OpenAi account"}}},{"id":"2db81d75-8e85-471b-a21c-02f274900ee5","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[100,200],"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $node[\"Telegram Trigger\"].json.message.chat.id }}"}},{"id":"8cf868da-7ff2-4df2-bab3-ed8740a21100","name":"Get Projects Tool","type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[100,400],"parameters":{"databaseId":{"__rl":true,"mode":"id","value":"30089da3-9902-80d3-a0a4-f186831e99b9"},"operation":"getAll","resource":"databasePage"},"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}}},{"id":"aaf7c57b-9e8a-4e38-8c31-b31b06694eac","name":"Manage Projects Tool","type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[400,400],"parameters":{"databaseId":{"__rl":true,"mode":"id","value":"30089da3-9902-80d3-a0a4-f186831e99b9"},"operation":"create","resource":"databasePage"},"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}}},{"id":"40c0c37c-0bf9-4fed-8a19-eafddd9d98a3","name":"Send ResponseBIFI","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[600,0],"parameters":{"chatId":"={{ $node[\"Telegram Trigger\"].json.message.chat.id }}","operation":"sendMessage","text":"={{ $json.output }}"},"credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"id":"test-chat-trigger-123","name":"Chat Test Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[200,100],"parameters":{}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch Input","type":"main","index":0}]]},"Switch Input":{"main":[[{"node":"Edit Fields Set","type":"main","index":0},{"node":"Download Voice File","type":"main","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe File","type":"main","index":0}]]},"Transcribe File":{"main":[[{"node":"AI Project Organizer","type":"main","index":0}]]},"Edit Fields Set":{"main":[[{"node":"AI Project Organizer","type":"main","index":0}]]},"AI Project Organizer":{"main":[[{"node":"Send ResponseBIFI","type":"main","index":0}]]},"OpenAI Chat Model":{"main":[[{"node":"AI Project Organizer","type":"main","index":0}]]},"Window Buffer Memory":{"main":[[{"node":"AI Project Organizer","type":"main","index":0}]]},"Get Projects Tool":{"main":[[{"node":"AI Project Organizer","type":"main","index":0}]]},"Manage Projects Tool":{"main":[[{"node":"AI Project Organizer","type":"main","index":0}]]},"Chat Test Trigger":{"main":[[{"node":"AI Project Organizer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a29c1edb-bc2c-46de-9007-46878e2381e4","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-08T22:30:40.267Z","createdAt":"2026-02-08T22:30:40.267Z","role":"workflow:owner","workflowId":"HoFrf8iWDXTlS5lV","projectId":"Qe4e5DHjGeBeWYKf"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-08T22:57:35.721Z","createdAt":"2026-02-08T22:22:31.628Z","id":"Z7m2uBGTLHjmpEEupRPd7","name":"teste","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message","channel_post"],"additionalFields":{"download":true}},"id":"05d6633e-549a-4d8a-aa0e-2b7c3195b77f","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-352,240],"webhookId":"telegram-webhook","credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"={{ $json.message.voice }}","typeValidation":"strict","operator":{"type":"object","operation":"exists"}}}}]},"options":{}},"id":"9fab138d-bac4-4acd-b52c-c4be8f2ea7ef","name":"Check Voice","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-128,240]},{"parameters":{"operation":"transcribe","requestOptions":{}},"id":"99f78920-94c7-440e-ad8e-2c866801edbb","name":"Transcribe Audio","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[96,128]},{"parameters":{"promptType":"chat","options":{"systemMessage":"You are a project organization copilot Agent.\n\n# CONTEXTO\nYou are organizing projects from Telegram messages into a Notion database.\nThe user sends messages (text or audio transcripts).\nYour job is to interpret the message and update/create projects in Notion.\n\n# BANCO DE DADOS (Notion)\nEach row is a project.\n- **PROJETO** (title): Unique logical identifier. Never duplicate this.\n- **ID**: Technical ID (ignore).\n- **Description Fields**: `Descrição_Geral_do_Projeto`, `Observações`.\n- **Metadata**: `Cliente`, `Status` (ativo, pausado, concluído), `Prioridade` (baixa, média, alta, urgente).\n- **Financial**: `Status_Financeiro` (a receber, pago, cobrar cliente), `Valor_Total_Projeto`.\n- **Assets**: `Pasta_Drive_URL`.\n- **Briefings**: `Briefing_Geral`, `Briefing_Filmagem`, `Briefing_Edição`.\n\n# OBJETIVO\n1.  **Identify Project Name**: Extract or infer the `PROJETO` name.\n2.  **Identify Intent**: Create or Update.\n3.  **Extract Fields**: Only extract explicitly mentioned data. DO NOT invent data. DO NOT overwrite unspecified fields.\n\n# REGRA DE EXISTÊNCIA (CRITICAL Logic)\nBefore deciding to create:\n1.  **Check**: Use the `notion_get_database_page` tool to search for a project with the same `PROJETO` name.\n2.  **Result**:\n    *   **Found (1)**: Intent is `update`. Use `notion_update_database_page`.\n    *   **Not Found (0)**: Intent is `create`. Use `notion_create_database_page`.\n\n# FORMATO DE SAÍDA ESPERADO\nAlways produce a structured output (JSON-like) in your final response to explain what you did:\n```json\n{\n  \"projeto\": \"Project Name\",\n  \"acao\": \"create | update | conflict\",\n  \"campos_para_escrita\": {\n    \"Descrição_Geral_do_Projeto\": \"extracted text\",\n    \"Status\": \"ativo\"\n  },\n  \"mensagem_ao_usuario\": \"Clear text for the user\"\n}\n```"}},"id":"d2a0f8a8-39a5-4d08-b5ac-f2e878ca2b85","name":"AI Project Organizer","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[368,240]},{"parameters":{"chatId":"={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}","text":"={{ $json.output }}","additionalFields":{}},"id":"a8801e8f-c122-4560-a194-481d03f452db","name":"Send Response","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[656,240],"webhookId":"5567ff0c-1a50-4423-8ff9-2ce7b4828155","credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"af0bda36-67be-438d-9114-01b3cc0f6bfc","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[368,480]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"YOUR_NOTION_DATABASE_ID","mode":"list","cachedResultName":"Projects DB"},"returnAll":true,"options":{}},"id":"8410efdf-998e-43f4-8516-b57016344d08","name":"Notion Search","type":"n8n-nodes-base.notion","typeVersion":2,"position":[256,688]},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"YOUR_NOTION_DATABASE_ID","mode":"list","cachedResultName":"Projects DB"},"options":{}},"id":"7e5c8146-036e-4f09-aac2-f94c284868ba","name":"Notion Create","type":"n8n-nodes-base.notion","typeVersion":2,"position":[464,688]},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"654b03a7-3076-442c-8a57-d4dc75b12ed0","name":"Notion Update","type":"n8n-nodes-base.notion","typeVersion":2,"position":[656,688]}],"connections":{"Telegram Trigger":{"main":[[{"node":"Check Voice","type":"main","index":0}]]},"Check Voice":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"AI Project Organizer","type":"main","index":0}]]},"AI Project Organizer":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Project Organizer","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"3e06e90f-c418-480f-b7a8-a3524388a46f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-08T22:22:31.633Z","createdAt":"2026-02-08T22:22:31.633Z","role":"workflow:owner","workflowId":"Z7m2uBGTLHjmpEEupRPd7","projectId":"Qe4e5DHjGeBeWYKf"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-28T17:39:36.623Z","createdAt":"2026-02-18T00:02:12.752Z","id":"ZKYVeZv0d_HSAi2pR5xEW","name":"Notion Task Capture - ORACULO","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1744,-144],"id":"b318237e-c70b-4d9f-9f87-1b999a9bf575","name":"Telegram Trigger","webhookId":"113659e7-ee7e-454e-9624-eb34fb166dd5","credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"parameters":{"options":{"systemMessage":"You are Oráculo, an advanced personal productivity assistant based on GTD. Your goal is to capture, organize, and update tasks in Notion with absolute precision.\n\n# CORE RULES\n1. **Language:** You understand Portuguese and English perfectly.\n2. **Context:** Current time is {{ $now }}.\n3. **Database Rules:** You MUST use the exact options listed below for select/multi-select fields.\n\n# DATA MAPPING (STRICT)\n- **Status:** ONLY USE: `Not started`, `In progress`, or `Done`.\n- **Who (multi_select):** Options: `Filipe`, `Self`, `Pedro`, `João`, `Eu`, `Jaya`.\n  - Infer \"Me\" or \"Eu\" as `Self`.\n  - Infer \"João\" as `João`.\n- **Where (multi_select):** Options: `Escritorio`, `casa`, `Gym`, `Restaurant`, `Pub`, `New Restaurant`, `Market`, `Office`, `RNP`, `Smart Fit`.\n  - Default: `Office`.\n- **Company (multi_select):** Options: `Firma Abacaxi`, `RNP`.\n- **Next Action (text):** Use this for the next specific step (e.g., \"Separar equipamentos\").\n- **Dates:** Always convert relative dates to `YYYY-MM-DD`. Default: Today ({{ $now.format('yyyy-MM-dd') }}).\n\n# TOOLS\n- Use `Get Tasks` to list or find tasks.\n- Use `Create Tasks` for new items.\n- Use `Update Tasks` to modify existing items (ID REQUIRED).\n- Use `Delete Tasks` to archive items (ID REQUIRED).\n\n# BEHAVIOR\nAlways look for existing tasks before updating. If a name like \"Cat\" is mentioned, and not in the list, ask for clarification or check if it matches a known pattern (e.g., \"Cat Dearlove\" was mentioned previously in logs, but ONLY use options from the list above for the \"Who\" field)."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-384,-160],"id":"a6c6d6a7-f139-42f8-aa0e-ddc6a4be1aaa","name":"AI Agent","alwaysOutputData":false},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-656,272],"id":"3d1bfd27-cc0f-4236-becb-ad6adc3a5f35","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"5RUe0e1pQwGjpDA2","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-480,272],"id":"ff4a5a14-5357-4bd4-abb6-b07b4f5f6a26","name":"Window Buffer Memory"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c0c89d99-7bff-44d5-89e3-aeafccbc1668","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1440,-144],"id":"e2613c23-feaf-43ce-97ba-423a58f98618","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1200,64],"id":"c0ba3333-f862-4dff-81ec-b3d125284e19","name":"Download Voice File","webhookId":"595965b7-ec6c-48a9-bd6c-271ea6da5c4c","credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-880,64],"id":"4f97bc16-96dd-4d1f-a067-722d43e22bfa","name":"Transcribe File","credentials":{"openAiApi":{"id":"5RUe0e1pQwGjpDA2","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"91b6589b-be64-4d2e-9cc3-3b71a3ad25a7","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1024,-160],"id":"84784354-8f72-4bbb-a8b6-f3decadac280","name":"Edit Fields"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"30b89da3-9902-80d9-b562-da97507e443f","mode":"list","cachedResultName":"GTD","cachedResultUrl":"https://www.notion.so/30b89da3990280d9b562da97507e443f"},"filterType":"manual","matchType":"allFilters","options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[-304,272],"id":"e6fc3f90-77f8-471f-a64c-f560d9d0654c","name":"Get Tasks","notesInFlow":true,"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}},"notes":"Get Tasks"},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[48,272],"id":"873969bd-911e-44b8-9d46-bb459168276c","name":"Update Tasks","credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}}},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[-144,272],"id":"b94829d2-b0a7-4991-b005-98193737c870","name":"Create Tasks","notesInFlow":false,"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[496,-128],"id":"ec773d58-439d-4edb-84ea-10adad9662ba","name":"Respond Text","webhookId":"2f0ad6fb-80ed-480c-961f-8f9d35453940","credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Delete or archive a task in Notion","operation":"archive","pageId":{"__rl":true,"mode":"id","value":"={{ $fromAI('id', 'The page ID of the task to delete') }}"}},"id":"8f652cd9-73eb-40f3-bdef-b4e6dc008874","name":"Delete Tasks","type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[224,272],"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Download Voice File","type":"main","index":0}]]},"Transcribe File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe File","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Tasks":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Update Tasks":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create Tasks":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Delete Tasks":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Respond Text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9b99e45a-cd18-4677-a153-f22c15613e38","activeVersionId":"2dc3555e-04bd-4d1e-a4a0-a1140d9aad17","triggerCount":1,"shared":[{"updatedAt":"2026-02-18T00:02:12.755Z","createdAt":"2026-02-18T00:02:12.755Z","role":"workflow:owner","workflowId":"ZKYVeZv0d_HSAi2pR5xEW","projectId":"Qe4e5DHjGeBeWYKf"}],"activeVersion":{"updatedAt":"2026-02-19T00:25:52.093Z","createdAt":"2026-02-19T00:25:52.093Z","versionId":"2dc3555e-04bd-4d1e-a4a0-a1140d9aad17","workflowId":"ZKYVeZv0d_HSAi2pR5xEW","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1744,-144],"id":"b318237e-c70b-4d9f-9f87-1b999a9bf575","name":"Telegram Trigger","webhookId":"113659e7-ee7e-454e-9624-eb34fb166dd5","credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"parameters":{"options":{"systemMessage":"You are Oráculo, an advanced personal productivity assistant based on GTD. Your goal is to capture, organize, and update tasks in Notion with absolute precision.\n\n# CORE RULES\n1. **Language:** You understand Portuguese and English perfectly.\n2. **Context:** Current time is {{ $now }}.\n3. **Database Rules:** You MUST use the exact options listed below for select/multi-select fields.\n\n# DATA MAPPING (STRICT)\n- **Status:** ONLY USE: `Not started`, `In progress`, or `Done`.\n- **Who (multi_select):** Options: `Filipe`, `Self`, `Pedro`, `João`, `Eu`, `Jaya`.\n  - Infer \"Me\" or \"Eu\" as `Self`.\n  - Infer \"João\" as `João`.\n- **Where (multi_select):** Options: `Escritorio`, `casa`, `Gym`, `Restaurant`, `Pub`, `New Restaurant`, `Market`, `Office`, `RNP`, `Smart Fit`.\n  - Default: `Office`.\n- **Company (multi_select):** Options: `Firma Abacaxi`, `RNP`.\n- **Next Action (text):** Use this for the next specific step (e.g., \"Separar equipamentos\").\n- **Dates:** Always convert relative dates to `YYYY-MM-DD`. Default: Today ({{ $now.format('yyyy-MM-dd') }}).\n\n# TOOLS\n- Use `Get Tasks` to list or find tasks.\n- Use `Create Tasks` for new items.\n- Use `Update Tasks` to modify existing items (ID REQUIRED).\n- Use `Delete Tasks` to archive items (ID REQUIRED).\n\n# BEHAVIOR\nAlways look for existing tasks before updating. If a name like \"Cat\" is mentioned, and not in the list, ask for clarification or check if it matches a known pattern (e.g., \"Cat Dearlove\" was mentioned previously in logs, but ONLY use options from the list above for the \"Who\" field)."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-384,-160],"id":"a6c6d6a7-f139-42f8-aa0e-ddc6a4be1aaa","name":"AI Agent","alwaysOutputData":false},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-656,272],"id":"3d1bfd27-cc0f-4236-becb-ad6adc3a5f35","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"5RUe0e1pQwGjpDA2","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-480,272],"id":"ff4a5a14-5357-4bd4-abb6-b07b4f5f6a26","name":"Window Buffer Memory"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c0c89d99-7bff-44d5-89e3-aeafccbc1668","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1440,-144],"id":"e2613c23-feaf-43ce-97ba-423a58f98618","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1200,64],"id":"c0ba3333-f862-4dff-81ec-b3d125284e19","name":"Download Voice File","webhookId":"595965b7-ec6c-48a9-bd6c-271ea6da5c4c","credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-880,64],"id":"4f97bc16-96dd-4d1f-a067-722d43e22bfa","name":"Transcribe File","credentials":{"openAiApi":{"id":"5RUe0e1pQwGjpDA2","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"91b6589b-be64-4d2e-9cc3-3b71a3ad25a7","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1024,-160],"id":"84784354-8f72-4bbb-a8b6-f3decadac280","name":"Edit Fields"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"30b89da3-9902-80d9-b562-da97507e443f","mode":"list","cachedResultName":"GTD","cachedResultUrl":"https://www.notion.so/30b89da3990280d9b562da97507e443f"},"filterType":"manual","matchType":"allFilters","options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[-304,272],"id":"e6fc3f90-77f8-471f-a64c-f560d9d0654c","name":"Get Tasks","notesInFlow":true,"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}},"notes":"Get Tasks"},{"parameters":{"propertiesUi":{"propertyValues":[{"key":"Title|title","title":"={{ $fromAI('title', 'The title of the task') }}"},{"key":"Status|status","statusValue":"={{ $fromAI('status', 'The status of the task. MUST BE one of: Not started, In progress, Done', 'string') }}"},{"date":"={{ $fromAI('due_date', 'The due date of the task') }}","includeTime":false,"key":"Due Date|date"},{"key":"Who|multi_select","multiSelectValue":"={{ $fromAI('who', 'People involved. Use: Filipe, Self, Pedro, João, Eu, Jaya', 'string') }}"},{"key":"Where|multi_select","multiSelectValue":"={{ $fromAI('where', 'Location. Use: Escritorio, casa, Gym, Restaurant, Pub, New Restaurant, Market, Office, RNP, Smart Fit', 'string') }}"},{"key":"Company|multi_select","multiSelectValue":"={{ $fromAI('company', 'Company name. Use: Firma Abacaxi, RNP', 'string') }}"},{"key":"Next Action|rich_text","richText":"={{ $fromAI('next_action', 'The next specific step to be taken') }}"}]}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[48,272],"id":"873969bd-911e-44b8-9d46-bb459168276c","name":"Update Tasks","credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}}},{"parameters":{"propertiesUi":{"propertyValues":[{"key":"Title|title","title":"={{ $fromAI('title', 'The title of the task') }}"},{"key":"Status|status","statusValue":"={{ $fromAI('status', 'The status of the task. MUST BE one of: Not started, In progress, Done', 'string') }}"},{"date":"={{ $fromAI('due_date', 'The due date of the task') }}","includeTime":false,"key":"Due Date|date"},{"key":"Who|multi_select","multiSelectValue":"={{ $fromAI('who', 'People involved. Use: Filipe, Self, Pedro, João, Eu, Jaya', 'string') }}"},{"key":"Where|multi_select","multiSelectValue":"={{ $fromAI('where', 'Location. Use: Escritorio, casa, Gym, Restaurant, Pub, New Restaurant, Market, Office, RNP, Smart Fit', 'string') }}"},{"key":"Company|multi_select","multiSelectValue":"={{ $fromAI('company', 'Company name. Use: Firma Abacaxi, RNP', 'string') }}"},{"key":"Next Action|rich_text","richText":"={{ $fromAI('next_action', 'The next specific step to be taken') }}"}]}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[-144,272],"id":"b94829d2-b0a7-4991-b005-98193737c870","name":"Create Tasks","notesInFlow":false,"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}}},{"parameters":{"additionalFields":{"appendAttribution":false},"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","operation":"sendMessage","text":"={{ $json.output }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[464,-176],"id":"ec773d58-439d-4edb-84ea-10adad9662ba","name":"Respond Text","webhookId":"2f0ad6fb-80ed-480c-961f-8f9d35453940","credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Delete or archive a task in Notion","operation":"archive","pageId":{"__rl":true,"mode":"id","value":"={{ $fromAI('id', 'The page ID of the task to delete') }}"}},"id":"8f652cd9-73eb-40f3-bdef-b4e6dc008874","name":"Delete Tasks","type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[224,272],"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Download Voice File","type":"main","index":0}]]},"Transcribe File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe File","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Tasks":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Update Tasks":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create Tasks":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Delete Tasks":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Respond Text","type":"main","index":0}]]}},"authors":"FIRMA ABACAXI","name":null,"description":null,"autosaved":false},"tags":[]},{"updatedAt":"2026-02-09T00:46:07.643Z","createdAt":"2026-02-09T00:26:19.600Z","id":"aioeaNQZxapilrrC","name":"Telegram-Notion Project Organizer (PRO)","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message","*"],"additionalFields":{}},"id":"a33e3f45-f16e-4107-937e-0ce1d230060f","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-656,-176],"webhookId":"912e007f-19d9-4b5a-a90e-12ba01c9978d","typeVersion":1.2,"credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"options":{}},"id":"e17f452c-4f9a-48f8-91a2-526260159676","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[528,432],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"5RUe0e1pQwGjpDA2","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":10},"id":"9b33ec46-8772-4bfb-a448-fea5a673bbaa","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[752,464],"typeVersion":1.3},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"8cdd7ba8-c998-4ea7-b861-8dcaf12febfe","name":"Get Voice","type":"n8n-nodes-base.telegram","position":[80,0],"webhookId":"1962cd81-9991-4199-a78a-2250bf29631a","typeVersion":1.2,"credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0a236099-525e-4748-a57d-8b8e2c63c48b","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"24b7e8b8-6fce-4ddc-94b6-30b852891995","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{  $json.message.voice.file_id }}","rightValue":""}]},"renameOutput":true,"outputKey":"Voice"}]},"options":{}},"id":"7fa34d0e-5215-44e5-b1d3-1e8abb5771ae","name":"Text Or Voice","type":"n8n-nodes-base.switch","position":[-240,-176],"typeVersion":3.2},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"b90a586b-5d90-4f76-8e4e-bd44095f9aac","name":"Transcribe The Voice","type":"@n8n/n8n-nodes-langchain.openAi","position":[288,0],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"5RUe0e1pQwGjpDA2","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json[\"message.text\"] }}","options":{}},"id":"587adf8a-2e69-4078-a603-84f0322207cb","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[720,80],"typeVersion":1.9},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"id":"2455c7cb-f341-4891-9096-dc62116298c0","name":"Typing Action","type":"n8n-nodes-base.telegram","position":[-240,-368],"webhookId":"2479f7f8-6d54-4d45-921e-af6dcfae768e","typeVersion":1.2,"credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"parameters":{"chatId":"={{$node[\"Telegram Trigger\"].json.message.chat.id}}","text":"={{ $json.output }}","additionalFields":{}},"id":"8c2b6195-6101-4652-848c-505d13a3c1d2","name":"Send Response To Telegram","type":"n8n-nodes-base.telegram","position":[1344,80],"webhookId":"76e4b8a4-1086-4d24-b60e-b96942d83bdf","typeVersion":1.2,"credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"590b803f-833c-4854-bde7-5241d25b2b32","name":"message.text","type":"string","value":"={{ $json.message.text }}"},{"id":"303e0b5d-3d37-48fc-bbd3-ce62dbe7ef78","name":"sessionId","type":"string","value":"={{ $json.message.chat.id }}"}]},"options":{}},"id":"c8fd047d-8575-484e-939a-46064b81d035","name":"Send Context To AI Agent","type":"n8n-nodes-base.set","position":[464,-208],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"2bb71aef-0ca1-4c26-95e1-c0c83bc82068","name":"message.text","type":"string","value":"={{ $json.text }}"},{"id":"692a2bae-35da-41d3-be8d-32c0f5dfbbef","name":"sessionId","type":"string","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}"}]},"options":{}},"id":"f7e90526-08a5-4a59-956f-d39e6ff472f0","name":"Send Transcribe Context To AI Agent","type":"n8n-nodes-base.set","position":[464,0],"typeVersion":3.4},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"30089da3-9902-80d3-a0a4-f186831e99b9","mode":"list","cachedResultName":"ORGANIZABOT","cachedResultUrl":"https://www.notion.so/30089da3990280d3a0a4f186831e99b9"},"options":{}},"id":"733f6445-bb64-412d-b56f-f14d85f17beb","name":"Get Projects Tool","type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1008,400],"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"30089da3-9902-80d3-a0a4-f186831e99b9","mode":"list","cachedResultName":"ORGANIZABOT","cachedResultUrl":"https://www.notion.so/30089da3990280d3a0a4f186831e99b9"},"options":{}},"id":"75e57aa4-55ad-4661-9765-6205248f2d2a","name":"Manage Projects Tool","type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[880,384],"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Send Response To Telegram","type":"main","index":0}]]},"Get Voice":{"main":[[{"node":"Transcribe The Voice","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Text Or Voice":{"main":[[{"node":"Send Context To AI Agent","type":"main","index":0}],[{"node":"Get Voice","type":"main","index":0}]]},"Typing Action":{"main":[[]]},"Telegram Trigger":{"main":[[{"node":"Text Or Voice","type":"main","index":0},{"node":"Typing Action","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Transcribe The Voice":{"main":[[{"node":"Send Transcribe Context To AI Agent","type":"main","index":0}]]},"Send Context To AI Agent":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Send Transcribe Context To AI Agent":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Projects Tool":{"main":[[]],"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Manage Projects Tool":{"main":[[]],"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"timezone":"Australia/Sydney","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"34cc11e9-9dc5-4c1d-ab2a-428e14b2858e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-09T00:26:19.601Z","createdAt":"2026-02-09T00:26:19.601Z","role":"workflow:owner","workflowId":"aioeaNQZxapilrrC","projectId":"Qe4e5DHjGeBeWYKf"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-07T20:22:08.664Z","createdAt":"2026-02-07T20:22:08.664Z","id":"njTL9_ZeT9cMvtZ4Wo7Yj","name":"FLUXO 1 CHATBOT","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-448,-64],"id":"7c49a1ee-7341-4f0e-a467-b97fc9c00bd1","name":"Telegram Trigger","webhookId":"1834c10e-98bc-4b49-927b-891ecb7f7e24","credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"parameters":{"chatId":"1939605894","text":"={{ $json.output[0].content[0].text }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1488,464],"id":"e769cf6f-256d-4038-9613-1d79312a5bc4","name":"Send a text message","webhookId":"97ee9492-929e-4afa-a677-133e77ed7ec1","credentials":{"telegramApi":{"id":"ryI2vk2NnjKpxfiQ","name":"Telegram account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-chat-latest","mode":"list","cachedResultName":"GPT-5-CHAT-LATEST"},"responses":{"values":[{"content":"={{ $json.chatInput }}"},{"role":"system","content":"Você é um Assistente de Organização de Projetos.\n\nTarefa:\nExtrair da mensagem do usuário um registro para salvar no Notion com os seguintes campos:\n- Projeto\n- ID\n- Cliente\n- Descrição\n- Observações\n\nRegras:\n- \"Projeto\" é o nome do projeto (ex: AFD, SIMBIOSE, EXEMPLO).\n- Se o usuário NÃO fornecer ID, gere um número incremental simples ou use null.\n- \"Cliente\" é o nome do cliente (não invente).\n- \"Descrição\" é um resumo curto da demanda.\n- \"Observações\" é um complemento opcional.\n- Não invente informações.\n\nFORMATO DE SAÍDA:\nResponda SOMENTE com JSON válido:\n\n{\n  \"Projeto\": \"string\",\n  \"ID\": number,\n  \"Cliente\": \"string\",\n  \"Descrição\": \"string\",\n  \"Observações\": \"string\"\n}\n"}]},"simplify":false,"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-224,512],"id":"5e98728f-3ff4-4fae-9eb1-78cb3e143a32","name":"Message a model","credentials":{"openAiApi":{"id":"5RUe0e1pQwGjpDA2","name":"OpenAi account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"2ff89da3-9902-81dd-a913-f981f916c4ac","mode":"list","cachedResultName":"Projetos_Trabalho_MVP.csv","cachedResultUrl":"https://www.notion.so/2ff89da3990281dda913f981f916c4ac"},"title":"={{ $json.Projeto }}","propertiesUi":{"propertyValues":[{"key":"Descrição_Geral_do_Projeto|rich_text","richText":true,"text":{"text":[{"text":"={{ $('Code in JavaScript').item.json[\"Descrição\"] }}","annotationUi":{}}]}},{"key":"Observações|rich_text","richText":true,"text":{"text":[{"text":"={{ $('Code in JavaScript').item.json[\"Observações\"] }}","annotationUi":{}}]}},{"key":"Cliente|rich_text","textContent":"={{ $('Code in JavaScript').item.json.Cliente }}"},{"key":"ID|number","numberValue":"={{ $('Code in JavaScript').item.json.ID }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[960,608],"id":"64052f36-959f-433a-8d70-919f0ee88214","name":"Create a database page","credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}},"notes":"Patch suggestion: If Create runs but nothing appears, check Notion integration access to the database and that required properties are filled. Ensure ID number is sent as a number (or leave blank/null)."},{"parameters":{"jsCode":"// Pega todos os itens de entrada\nconst items = $input.all();\n\n// Array de saída (OBRIGATÓRIO)\nlet out = [];\n\n// Função para extrair o texto do ChatGPT\nfunction extractText(j) {\n  return (\n    j?.output?.[0]?.content?.[0]?.text ??\n    j?.output?.[0]?.content?.find?.(c => c.type === 'output_text')?.text ??\n    j?.text ??\n    j?.message?.content ??\n    j?.output ??\n    null\n  );\n}\n\n// Remove ``` e parseia JSON com segurança\nfunction safeParseJson(text) {\n  if (typeof text !== 'string') return text;\n\n  const cleaned = text\n    .replace(/```[a-zA-Z]*\\n?/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  return JSON.parse(cleaned);\n}\n\n// Processa cada item\nfor (const item of items) {\n  const rawText = extractText(item.json);\n\n  if (!rawText) {\n    throw new Error(\"Não encontrei texto da IA\");\n  }\n\n  const parsed = safeParseJson(rawText);\n\n  // Aceita objeto único ou array\n  const list = Array.isArray(parsed) ? parsed : [parsed];\n\n  for (const u of list) {\n    out.push({\n      json: {\n        Projeto: String(u.Projeto || u.projeto || \"SEM NOME\"),\n      ID: typeof u.ID === \"number\" ? u.ID : null,\n      Cliente: String(u.Cliente || \"INDEFINIDO\"),\n      Descrição: String(u[\"Descrição\"] || \"\"),\n      Observações: String(u[\"Observações\"] || \"\")\n      }\n    });\n  }\n}\n\n// RETORNO FINAL (OBRIGATÓRIO)\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,512],"id":"460927cc-07e2-4057-b3f9-049fa3fbdefd","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"a3f489c1-a29d-406b-9a9f-2dfb1f4bbe30","leftValue":"={{ $items(\"Get many database pages\").length }}","rightValue":0,"operator":{"type":"number","operation":"gt"},"operation":"larger"}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":"={{ true }}"}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[656,512],"id":"675a096e-0ec4-4a7b-b6aa-98e118614249","name":"If"},{"parameters":{"resource":"databasePage","operation":"update","pageId":"={{ $items(\"Get many database pages\")[0].json.id }}","simple":false,"propertiesUi":{"propertyValues":[{"key":"Descrição_Geral_do_Projeto|rich_text","textContent":"={{ $('Code in JavaScript').item.json[\"Descrição\"] }}"},{"key":"Observações|rich_text","textContent":"={{ $('Code in JavaScript').item.json[\"Observações\"] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[976,336],"id":"371cac16-3135-403f-a39c-8edf291e694c","name":"Update a database page","alwaysOutputData":true,"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}},"notes":"Patch suggestion: In Update, map only properties you want to change. If a property is blank, either skip mapping or enable 'Ignore empty values' so you don't overwrite existing data with empty."},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1264,480],"id":"c77bd320-bce0-42cd-a736-b6528c41e789","name":"Merge"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-480,528],"id":"ec4f268f-29c0-460d-936b-fa892792d46b","name":"When chat message received","webhookId":"fda80bac-9aaa-4046-93c8-d2ffeccd1fbd"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"2ff89da3-9902-81dd-a913-f981f916c4ac","mode":"list","cachedResultName":"Projetos_Trabalho_MVP.csv","cachedResultUrl":"https://www.notion.so/2ff89da3990281dda913f981f916c4ac"},"limit":1,"filterType":"manual","filters":{"conditions":[{"key":"PROJETO|title","condition":"equals","titleValue":"={{ $json.Projeto }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[400,512],"id":"fa1cb684-3f0c-4237-b72f-fedc4c6ffa6f","name":"Get many database pages","credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}},"notes":"Patch suggestion: Filter by property PROJETO (title) equals {{$json.Projeto}}; do NOT use Cliente as multi_select. Enable 'Always Output Data' or 'Continue On Fail' so IF node runs when 0 results."}],"connections":{"Message a model":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Get many database pages","type":"main","index":0}]]},"If":{"main":[[{"node":"Update a database page","type":"main","index":0}],[{"node":"Create a database page","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Get many database pages":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"09682d85-cd96-4c67-b295-3b50046a568b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-07T20:22:08.667Z","createdAt":"2026-02-07T20:22:08.667Z","role":"workflow:owner","workflowId":"njTL9_ZeT9cMvtZ4Wo7Yj","projectId":"Qe4e5DHjGeBeWYKf"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-18T01:10:29.205Z","createdAt":"2026-02-07T22:31:17.296Z","id":"q1-0y8mw0JcYa3ohSCJNb","name":"ORÁCULO versao 1 (Chain)","active":false,"isArchived":false,"nodes":[{"id":"chat-trigger","name":"Chat Trigger","parameters":{},"position":[0,0],"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1},{"credentials":{"openAiApi":{"id":"5RUe0e1pQwGjpDA2","name":"OpenAi account"}},"id":"openai-parser","name":"OpenAI Parser","parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o"},"operation":"response","options":{"systemMessage":"Você é um Assistente de Organização de Projetos.\n\nTAREFA:\nExtrair dados do usuário para preencher o banco de dados Notion \"Projetos_Trabalho_MVP\".\n\nCAMPOS OBRIGATÓRIOS (Tente inferir ou usar \"SEM NOME\" se faltar):\n- PROJETO 1 (Nome do Projeto)\n\nCAMPOS OPCIONAIS (Extraia se disponível, senão use null/vazio):\n- #ID (Número sequencial)\n- Cliente (Nome)\n- Valor_Total_Projeto (Número)\n- Prioridade ('alta' ou 'baixa')\n- Status ('ativo' por padrão)\n- Status_Financeiro ('a receber' por padrão)\n- Briefing_Geral\n- Briefing_Edição\n- Briefing_Filmagem\n- Descrição_Geral_do_Projeto\n- Observações\n- Pasta_Drive_URL (Link)\n\nFORMATO DE SAÍDA (JSON Puro, SEM markdown, SEM ```json):\n{\n  \"PROJETO 1\": \"string\",\n  \"#ID\": number | null,\n  \"Cliente\": \"string\",\n  \"Valor_Total_Projeto\": number,\n  \"Prioridade\": \"string\",\n  \"Status\": \"string\",\n  \"Status_Financeiro\": \"string\",\n  \"Briefing_Geral\": \"string\",\n  \"Briefing_Edição\": \"string\",\n  \"Briefing_Filmagem\": \"string\",\n  \"Descrição_Geral_do_Projeto\": \"string\",\n  \"Observações\": \"string\",\n  \"Pasta_Drive_URL\": \"string\"\n}\n\nRESPONDA APENAS O JSON. Nenhum texto antes ou depois."},"resource":"text","responses":{"values":[{"content":"={{ $json.chatInput }}"}]}},"position":[220,0],"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1},{"id":"code-node","name":"Code","parameters":{"jsCode":"const items = $input.all();\nlet out = [];\n\nfunction extractText(j) {\n  return (\n    j?.message?.content ??\n    j?.output?.content ??\n    j?.content ??\n    j?.text ??\n    j?.output ??\n    null\n  );\n}\n\nfunction safeParseJson(text) {\n  if (typeof text !== 'string') return text;\n  const cleaned = text.replace(/```[a-zA-Z]*\\n?/g, '').replace(/```/g, '').trim();\n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    return { \"PROJETO 1\": \"ERRO_JSON\", \"Observações\": text };\n  }\n}\n\nfor (const item of items) {\n  const rawText = extractText(item.json);\n  if (!rawText) continue;\n\n  const parsed = safeParseJson(rawText);\n  const list = Array.isArray(parsed) ? parsed : [parsed];\n\n  for (const u of list) {\n    out.push({\n      json: {\n        \"PROJETO 1\": String(u[\"PROJETO 1\"] || \"SEM NOME\"),\n        \"#ID\": typeof u[\"#ID\"] === \"number\" ? u[\"#ID\"] : undefined,\n        \"Cliente\": String(u[\"Cliente\"] || \"\"),\n        \"Valor_Total_Projeto\": Number(u[\"Valor_Total_Projeto\"]) || 0,\n        \"Prioridade\": ['alta', 'baixa'].includes(u[\"Prioridade\"]) ? u[\"Prioridade\"] : undefined,\n        \"Status\": u[\"Status\"] || 'ativo',\n        \"Status_Financeiro\": u[\"Status_Financeiro\"] === 'a receber' ? 'a receber' : undefined,\n        \"Briefing_Geral\": String(u[\"Briefing_Geral\"] || \"\"),\n        \"Briefing_Edição\": String(u[\"Briefing_Edição\"] || \"\"),\n        \"Briefing_Filmagem\": String(u[\"Briefing_Filmagem\"] || \"\"),\n        \"Descrição_Geral_do_Projeto\": String(u[\"Descrição_Geral_do_Projeto\"] || \"\"),\n        \"Observações\": String(u[\"Observações\"] || \"\"),\n        \"Pasta_Drive_URL\": String(u[\"Pasta_Drive_URL\"] || \"\")\n      }\n    });\n  }\n}\nreturn out;"},"position":[440,0],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}},"id":"get-projects","name":"Get Projects","parameters":{"databaseId":{"__rl":true,"mode":"id","value":"30089da3-9902-80d3-a0a4-f186831e99b9"},"filterType":"manual","filters":{"combinator":"and","conditions":[{"condition":"contains","key":"PROJETO 1|title","textValue":"={{ $json['PROJETO 1'] }}"}]},"operation":"getAll","options":{},"resource":"databasePage"},"position":[660,0],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"id":"if-found","name":"If Found","parameters":{"conditions":{"combinator":"and","conditions":[{"id":"id-check","leftValue":"={{ $json.id }}","operator":{"operation":"exists","type":"string"},"rightValue":""}],"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"loose"}}},"position":[880,0],"type":"n8n-nodes-base.if","typeVersion":2.2},{"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}},"id":"update-project","name":"Update Project","parameters":{"operation":"update","options":{},"pageId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"propertiesUi":{"propertyValues":[{"key":"Cliente|rich_text","textContent":"={{ $('Code').item.json['Cliente'] }}"},{"key":"Valor_Total_Projeto|number","numberValue":"={{ $('Code').item.json['Valor_Total_Projeto'] }}"},{"key":"Briefing_Geral|rich_text","textContent":"={{ $('Code').item.json['Briefing_Geral'] }}"},{"key":"Observações|rich_text","textContent":"={{ $('Code').item.json['Observações'] }}"},{"key":"Status|select","selectValue":"={{ $('Code').item.json['Status'] }}"},{"key":"Prioridade|select","selectValue":"={{ $('Code').item.json['Prioridade'] }}"}]},"resource":"databasePage"},"position":[1100,-120],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}},"id":"create-project","name":"Create Project","parameters":{"databaseId":{"__rl":true,"mode":"id","value":"30089da3-9902-80d3-a0a4-f186831e99b9"},"operation":"create","options":{},"propertiesUi":{"propertyValues":[{"key":"PROJETO 1|title","title":"={{ $('Code').item.json['PROJETO 1'] }}"},{"key":"Cliente|rich_text","textContent":"={{ $('Code').item.json['Cliente'] }}"},{"key":"Valor_Total_Projeto|number","numberValue":"={{ $('Code').item.json['Valor_Total_Projeto'] }}"},{"key":"Briefing_Geral|rich_text","textContent":"={{ $('Code').item.json['Briefing_Geral'] }}"},{"key":"Observações|rich_text","textContent":"={{ $('Code').item.json['Observações'] }}"},{"key":"Status|select","selectValue":"={{ $('Code').item.json['Status'] }}"},{"key":"Prioridade|select","selectValue":"={{ $('Code').item.json['Prioridade'] }}"}]},"resource":"databasePage"},"position":[1100,120],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"id":"merge-node","name":"Merge","parameters":{},"position":[1320,0],"type":"n8n-nodes-base.merge","typeVersion":3},{"credentials":{"openAiApi":{"id":"5RUe0e1pQwGjpDA2","name":"OpenAi account"}},"id":"final-response","name":"Final Response","parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"operation":"response","options":{"systemMessage":"Você é o Oráculo, assistente de projetos.\nConfirme sucintamente a operação realizada no Notion.\nResponda em PT-BR, tom profissional e direto.\nMencione o nome do projeto, cliente e valor quando disponíveis."},"resource":"text","responses":{"values":[{"content":"=Dados da operação Notion:\n{{ JSON.stringify($json) }}\n\nGere uma confirmação concisa em PT-BR informando se o projeto foi criado ou atualizado com sucesso, mencionando os detalhes principais."}]}},"position":[1540,0],"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1}],"connections":{"Chat Trigger":{"main":[[{"index":0,"node":"OpenAI Parser","type":"main"}]]},"Code":{"main":[[{"index":0,"node":"Get Projects","type":"main"}]]},"Create Project":{"main":[[{"index":0,"node":"Merge","type":"main"}]]},"Get Projects":{"main":[[{"index":0,"node":"If Found","type":"main"}]]},"If Found":{"main":[[{"index":0,"node":"Update Project","type":"main"}],[{"index":0,"node":"Create Project","type":"main"}]]},"Merge":{"main":[[{"index":0,"node":"Final Response","type":"main"}]]},"OpenAI Parser":{"main":[[{"index":0,"node":"Code","type":"main"}]]},"Update Project":{"main":[[{"index":0,"node":"Merge","type":"main"}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"06bdff3f-8bcf-419f-8d41-eb3f6cd8d637","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-07T22:31:17.297Z","createdAt":"2026-02-07T22:31:17.297Z","role":"workflow:owner","workflowId":"q1-0y8mw0JcYa3ohSCJNb","projectId":"Qe4e5DHjGeBeWYKf"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-18T00:09:52.231Z","createdAt":"2026-02-06T14:54:03.687Z","id":"zg3wbtExFO6YKNX7MhJKS","name":"FLUXO 1 CHATBOT","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[864,992],"id":"784b59e2-0afe-4e53-ba1b-04c5405e6774","name":"Merge"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-48,1008],"id":"4b2b8f7b-a210-41cb-bfe7-9f58bfd64f83","name":"When chat message received","webhookId":"fda80bac-9aaa-4046-93c8-d2ffeccd1fbd"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-chat-latest","mode":"list","cachedResultName":"GPT-5-CHAT-LATEST"},"responses":{"values":[{"content":"={{ $json.chatInput }}"},{"role":"system","content":"Você é um Assistente de Organização de Projetos.\n\nTarefa:\nExtrair da mensagem do usuário um registro para salvar no Notion com os seguintes campos:\n- Projeto\n- ID\n- Cliente\n- Descrição\n- Observações\n\nRegras:\n- \"Projeto\" é o nome do projeto (ex: AFD, SIMBIOSE, EXEMPLO).\n- Se o usuário NÃO fornecer ID, gere um número incremental simples ou use null.\n- \"Cliente\" é o nome do cliente (não invente).\n- \"Descrição\" é um resumo curto da demanda.\n- \"Observações\" é um complemento opcional.\n- Não invente informações.\n\nFORMATO DE SAÍDA:\nResponda SOMENTE com JSON válido:\n\n{\n  \"Projeto\": \"string\",\n  \"ID\": number,\n  \"Cliente\": \"string\",\n  \"Descrição\": \"string\",\n  \"Observações\": \"string\"\n}\n"}]},"simplify":false,"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[160,928],"id":"d628697e-01c8-4e38-bd06-321ab2947b20","name":"Message a model1","credentials":{"openAiApi":{"id":"5RUe0e1pQwGjpDA2","name":"OpenAi account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"30089da3-9902-80d3-a0a4-f186831e99b9","mode":"list","cachedResultName":"Projetos_Trabalho_MVP.csv","cachedResultUrl":"https://www.notion.so/30089da3990280d3a0a4f186831e99b9"},"title":"={{$json.Projeto}}","simple":false,"propertiesUi":{"propertyValues":[{"key":"Descrição_Geral_do_Projeto|rich_text","richText":true,"text":{"text":[{"text":"={{$json[\"Descrição\"]}}","annotationUi":{}}]}},{"key":"Observações|rich_text","richText":true,"text":{"text":[{"text":"={{$json[\"Observações\"]}}","annotationUi":{}}]}},{"key":"Cliente|rich_text","textContent":"={{$json.Cliente}}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1296,1104],"id":"4812ac81-9622-43a4-84fc-5f845c269a1e","name":"Create a database page1","credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}},"notes":"Patch suggestion: If Create runs but nothing appears, check Notion integration access to the database and that required properties are filled. Ensure ID number is sent as a number (or leave blank/null)."},{"parameters":{"jsCode":"// Pega todos os itens de entrada\nconst items = $input.all();\n\n// Array de saída (OBRIGATÓRIO)\nlet out = [];\n\n// Função para extrair o texto do ChatGPT\nfunction extractText(j) {\n  return (\n    j?.output?.[0]?.content?.[0]?.text ??\n    j?.output?.[0]?.content?.find?.(c => c.type === 'output_text')?.text ??\n    j?.text ??\n    j?.message?.content ??\n    j?.output ??\n    null\n  );\n}\n\n// Remove ``` e parseia JSON com segurança\nfunction safeParseJson(text) {\n  if (typeof text !== 'string') return text;\n\n  const cleaned = text\n    .replace(/```[a-zA-Z]*\\n?/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  return JSON.parse(cleaned);\n}\n\n// Processa cada item\nfor (const item of items) {\n  const rawText = extractText(item.json);\n\n  if (!rawText) {\n    throw new Error(\"Não encontrei texto da IA\");\n  }\n\n  const parsed = safeParseJson(rawText);\n\n  // Aceita objeto único ou array\n  const list = Array.isArray(parsed) ? parsed : [parsed];\n\n  for (const u of list) {\n    out.push({\n      json: {\n        Projeto: String(u.Projeto || u.projeto || \"SEM NOME\"),\n      ID: typeof u.ID === \"number\" ? u.ID : null,\n      Cliente: String(u.Cliente || \"INDEFINIDO\"),\n      Descrição: String(u[\"Descrição\"] || \"\"),\n      Observações: String(u[\"Observações\"] || \"\")\n      }\n    });\n  }\n}\n\n// RETORNO FINAL (OBRIGATÓRIO)\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,1088],"id":"5f5c43f1-ee82-4037-9c4b-88e90baade29","name":"Code in JavaScript1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"a3f489c1-a29d-406b-9a9f-2dfb1f4bbe30","leftValue":"={{ $json.id }}","rightValue":0,"operator":{"type":"string","operation":"notEmpty","singleValue":true},"operation":"larger"}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1056,992],"id":"2ef1b8ff-ef48-4a60-b654-68a449ced07b","name":"If1"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $items(\"Get many database pages1\")[0].json.id }}","mode":"id","__regex":"^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"Descrição_Geral_do_Projeto|rich_text","textContent":"={{ $('Code in JavaScript1').item.json[\"Descrição\"] }}"},{"key":"Observações|rich_text","textContent":"={{ $('Code in JavaScript1').item.json[\"Observações\"] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1296,864],"id":"1d836102-6b66-4fc8-9912-f731afe371da","name":"Update a database page1","alwaysOutputData":true,"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}},"notes":"Patch suggestion: In Update, map only properties you want to change. If a property is blank, either skip mapping or enable 'Ignore empty values' so you don't overwrite existing data with empty."},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"30089da3-9902-80d3-a0a4-f186831e99b9","mode":"list","cachedResultName":"Projetos_Trabalho_MVP.csv","cachedResultUrl":"https://www.notion.so/30089da3990280d3a0a4f186831e99b9"},"limit":1,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"PROJETO|title","condition":"contains","titleValue":"={{ $json.Projeto }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[656,880],"id":"a3d7026e-af71-4db0-8c1d-9dc76c16ba4e","name":"Get many database pages1","alwaysOutputData":false,"credentials":{"notionApi":{"id":"OzQ7M5V4YPPiMs3R","name":"Notion account"}},"notes":"Patch suggestion: Filter by property PROJETO (title) equals {{$json.Projeto}}; do NOT use Cliente as multi_select. Enable 'Always Output Data' or 'Continue On Fail' so IF node runs when 0 results."},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1696,992],"id":"537887bb-b3c4-46ed-9fbf-1632eb653b1b","name":"Merge1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-chat-latest","mode":"list","cachedResultName":"GPT-5-CHAT-LATEST"},"responses":{"values":[{"content":"={{ $json.chatInput }}"},{"role":"system","content":"Você é um Assistente de Organização de Projetos.\n\nTarefa:\nExtrair da mensagem do usuário um registro para salvar no Notion com os seguintes campos:\n- Projeto\n- ID\n- Cliente\n- Descrição\n- Observações\n\nRegras:\n- \"Projeto\" é o nome do projeto (ex: AFD, SIMBIOSE, EXEMPLO).\n- Se o usuário NÃO fornecer ID, gere um número incremental simples ou use null.\n- \"Cliente\" é o nome do cliente (não invente).\n- \"Descrição\" é um resumo curto da demanda.\n- \"Observações\" é um complemento opcional.\n- Não invente informações.\n\nFORMATO DE SAÍDA:\nResponda SOMENTE com JSON válido:\n\n{\n  \"Projeto\": \"string\",\n  \"ID\": number,\n  \"Cliente\": \"string\",\n  \"Descrição\": \"string\",\n  \"Observações\": \"string\"\n}\n"}]},"simplify":false,"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1904,1008],"id":"529f07c7-4010-46d5-bec9-096270bb36fa","name":"Message a model","credentials":{"openAiApi":{"id":"5RUe0e1pQwGjpDA2","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1.1,"position":[2256,1008],"id":"50771d61-71ce-43a6-9e4e-0609dbae632c","name":"Chat","webhookId":"2c9cbc20-dccb-4b2c-97b3-2407db7e9993"}],"connections":{"Merge":{"main":[[{"node":"If1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Get many database pages1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"If1":{"main":[[{"node":"Update a database page1","type":"main","index":0}],[{"node":"Create a database page1","type":"main","index":0}]]},"Get many database pages1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Update a database page1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Create a database page1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Chat","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a330d506-82ac-4dbd-ab68-23697b571558","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-06T14:54:03.691Z","createdAt":"2026-02-06T14:54:03.691Z","role":"workflow:owner","workflowId":"zg3wbtExFO6YKNX7MhJKS","projectId":"Qe4e5DHjGeBeWYKf"}],"activeVersion":null,"tags":[]}],"nextCursor":null}